@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  background-color: #f5f5f5 !important;
}

p {
  margin-bottom: 0 !important;
}


.btn-round-blue {
  background-color: $blue;
  color: #ffffff;
  border-radius: 20px;
  padding: 5px 10px;
}

.chakra-link {
  display: flex;
}

button:focus {
  box-shadow: none !important;
}

button[aria-selected="true"] {
  color: #000000 !important;
}

.flex-horizontal {
  display: flex;
  align-items: center;
}

.chakra-input.search-box {
  background-color: #ffffff !important;
}

.text-green {
  color: #1cbb1c;
}
.text-blue {
  color: #2457e6;
}
.text-red {
  color: #c41515;
}